@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mapbox GL JS container */
.mapbox-container {
  width: 100%;
  height: 100%;
}

/* Mapbox GL JS popup override */
.mapboxgl-popup-content {
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
